.btn {
   display: inline-block;
   background: $color-primary;
   border-radius: 2px;
   color: #fff;
   font-size: 1.25rem;
   padding: 9px 21px;

   &:hover {
      filter: brightness(115%);
   }

   &:active {
      transform: translateY(1px);
   }
}